<div class="encounter-management-container">
  @if (encounterDetails()) {
    <div class="encounter-management">
      <div class="left-container">
        <div class="card-container">
          @for (combatant of combatantsFormArray.controls; track $index; let i = $index) {
            <a class="card" (click)="getCombatantDetails(getCombatant(i))">
              <form [formGroup]="combatant" class="card-left-content">
                <label for="initiative-{{i}}">Initiative</label>
                <input id="initiative-{{i}}" type="number" formControlName="initiative" (blur)="updateInitiative(i)" />
              </form>
              <div class="card-img">
                @if (getCombatant(i)?.isMonster) {
                  <img src="{{getCombatant(i)?.monster?.imageUrl}}" alt="">
                } @else {
                  <img src="https://www.aidedd.org/dnd-dice/dice.jpg" alt="">
                }
              </div>
              <div class="card-middle-content">
                <h3>{{ getCombatant(i)?.name }}</h3>
                @if (getCombatant(i)?.isMonster) {
                  <div class="card-middle-content-top">
                    <p><strong>AC :</strong> {{getCombatant(i)?.monster?.armorClass}}</p>
                    <p><strong>Vitesse :</strong> {{getCombatant(i)?.monster?.speed}}</p>
                  </div>
                } @else {
                    <div class="card-middle-content-top">
                      <p><strong>Classe :</strong> {{getCombatant(i)?.adventurer?.class}}</p>
                      <p><strong>Niveau :</strong> {{getCombatant(i)?.adventurer?.level}}</p>
                    </div>
                }
              </div>
              <div class="card-right-content">
                <p>{{ getCombatant(i)?.currentHp }}/{{ getCombatant(i)?.maxHp }}</p>
              </div>
            </a>
          }
        </div>
        <div class="turn-container">
          <button type="button">Précédant</button>
          <div class="turn">
            <h3>Tour</h3>
            <p>{{encounterDetails()?.turn}}</p>
          </div>
          <button type="button" (click)="updateTurn()">Suivant</button>
        </div>
      </div>
      @if (combatantDetails()) {
        <div class="details-container">
          <form [formGroup]="damageForm" class="damage-form">
            <label for="damage">Dégats</label>
            <input id="damage" type="number"  formControlName="damage" />
            <label for="damageType">Type</label>
            <input id="damageType" type="text"  formControlName="damageType" />
            <label for="heal">Heal</label>
            <input id="heal" type="number"  formControlName="heal" />
            <button type="button" (click)="updateHP(combatantDetails()?.id)">Mettre à jour les PV</button>
          </form>
          <section class="details-header">
            <h2>{{combatantDetails()?.name}}</h2>
            <p class="monster-meta">
              {{ combatantDetails()?.monster?.size}} {{ combatantDetails()?.monster?.creatureType }}, {{ combatantDetails()?.monster?.alignment }}
            </p>
          </section>
          <section class="combat-stats">
            <p><strong>CA :</strong> {{combatantDetails()?.monster?.armorClass}}</p>
            <p><strong>PV :</strong> {{combatantDetails()?.monster?.hitPoints}} ({{combatantDetails()?.monster?.hitDice}})</p>
            <p><strong>Vitesse :</strong> {{combatantDetails()?.monster?.speed}}</p>
            <p><strong>Initiative : </strong> +{{combatantDetails()?.monster?.initiativeModifier}}</p>
          </section>
          <section class="ability-table">
            <table>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">mod</th>
                  <th scope="col">save</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">For</th>
                  <td>{{combatantDetails()?.monster?.ability?.str}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.str_mod}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.str_save}}</td>
                </tr>
                <tr>
                  <th scope="row">Int</th>
                  <td>{{combatantDetails()?.monster?.ability?.int}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.int_mod}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.int_save}}</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">mod</th>
                  <th scope="col">save</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Dex</th>
                  <td>{{combatantDetails()?.monster?.ability?.dex}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.dex_mod}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.dex_save}}</td>
                </tr>
                <tr>
                  <th scope="row">Sag</th>
                  <td>{{combatantDetails()?.monster?.ability?.wis}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.wis_mod}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.wis_save}}</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">mod</th>
                  <th scope="col">save</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Con</th>
                  <td>{{combatantDetails()?.monster?.ability?.con}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.con_mod}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.con_save}}</td>
                </tr>
                <tr>
                  <th scope="row">Cha</th>
                  <td>{{combatantDetails()?.monster?.ability?.cha}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.cha_mod}}</td>
                  <td>{{combatantDetails()?.monster?.ability?.cha_save}}</td>
                </tr>
              </tbody>
            </table>
          </section>
          <section class="info">
            @if (combatantDetails()?.monster?.skills) {
              <p><strong>Compétences : </strong>
                @for (skill of combatantDetails()?.monster?.skills; track $index) {
                  <span>{{ skill.name }} +{{ skill.value }} </span>
                }
              </p>
            }
            @if(combatantDetails()?.monster?.damageResistances) {
              <p><strong>Résistance : </strong>
                @for (item of combatantDetails()?.monster?.damageResistances; track $index) {
                  <span>{{ item.name }} </span>
                }
              </p>
            }
            @if(combatantDetails()?.monster?.damageImmunities) {
              <p><strong>Immunité : </strong>
                @for (item of combatantDetails()?.monster?.damageImmunities; track $index) {
                  <span>{{ item.name }} </span>
                }
              </p>
            }
            @if (combatantDetails()?.monster?.gear) {
              <p><strong>Equipement</strong> {{ combatantDetails()?.monster?.gear }}</p>
            }
            @if (combatantDetails()?.monster?.senses) {
              <p><strong>Sens : </strong>
                @for (item of combatantDetails()?.monster?.senses; track $index) {
                  <span>{{ item.name }} </span>
                }
              </p>
            }
            @if (combatantDetails()?.monster?.languages) {
              <p><strong>Langues</strong> {{ combatantDetails()?.monster?.languages }}</p>
            }
            <p><strong>CR</strong> {{ combatantDetails()?.monster?.challengeRating }}</p>
          </section>
          @if (combatantDetails()?.monster?.traits?.length != 0) {
            <section class="traits">
              <h3>Traits</h3>
              @for (trait of combatantDetails()?.monster?.traits; track $index) {
                <div class="trait">
                  <p><strong>{{ trait.name }}</strong></p>
                  <p>{{ trait.description }}</p>
                </div>
              }
            </section>
          }
          @if (combatantDetails()?.monster?.actions) {
            <section class="actions">
              <h3>Actions</h3>
              @for (action of combatantDetails()?.monster?.actions; track $index) {
                <div class="action">
                  <p><strong>{{ action.name }}</strong></p>
                  <p>{{ action.description }}</p>
                </div>
              }
            </section>
          }
          @if (combatantDetails()?.monster?.reactions?.length != 0) {
            <section class="reactions">
              <h3>Réactions</h3>
              @for (reaction of combatantDetails()?.monster?.reactions; track $index) {
                <div class="reaction">
                  <p><strong>{{ reaction.name }}</strong></p>
                  <p>{{ reaction.description }}</p>
                </div>
              }
            </section>
          }
          @if (combatantDetails()?.monster?.legendaryActions?.length != 0) {
            <section class="legendary-actions">
              <h3>Actions légendaires</h3>
              @for (legendaryAction of combatantDetails()?.monster?.legendaryActions; track $index) {
                <div class="legendary-action">
                  <p><strong>{{ legendaryAction.name }}</strong></p>
                  <p>{{ legendaryAction.description }}</p>
                </div>
              }
            </section>
          }
        </div>
      }
    </div>
  }
</div>
